.wrapper

  = render 'side_bar'

  .chat
    .header
      .left-header
        .left-header__title{"data-group_id": @group.id}
          =@group.name
        %ul.left-header__members
          Member：
          %li.member
            aaa
          %li.member
            aaa
          %li.member
            ssss
      .right-header
        .right-header__button
          =link_to edit_group_path(@group) do
            Edit
    .messages
      = render @messages
      -# .message
      -#   .upper-message
      -#     .upper-message__user-name
      -#       sss
      -#     .upper-message__date
      -#       2019/06/20
      -#   .lower-meesage
      -#     .lower-message__content
      -#       aaa
      -# .message
      -#   .upper-message
      -#     .upper-message__user-name
      -#       qqq
      -#     .upper-message__date
      -#       2019/06/20
      -#   .lower-meesage
      -#     .lower-message__content
      -#       eeee
      -# .message
      -#   .upper-message
      -#     .upper-message__user-name
      -#       mmm
      -#     .upper-message__date
      -#       2019/06/20
      -#   .lower-meesage
      -#     .lower-message__content
      -#       vv
    .form
      = form_for [@group, @message], id: "new_message" do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
